@import "../../components/Dog/Dog.scss";

@font-face {
  font-family: "Helvetica Neue LT Std hv";
  src: url("fonts/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("fonts/HelveticaNeueLTStd-Hv.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("fonts/HelveticaNeueLTStd-BdCn.woff2") format("woff2"),
    url("fonts/HelveticaNeueLTStd-BdCn.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

$bg__color: #dfe4ea;
$bg__colorpage: #cfd6df;
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #181819;
  box-sizing: border-box;
}
body {
  padding-top: 100px;
  height: 100vh;
}
h1,
h2 {
  margin: 0;
}

.w7e-page {
  display: flex;
  max-width: 1365px;
  position: relative;
  margin: 0 auto;
  background: $bg__color;
  padding: 56px 53px;
  min-height: 768px;

  .w7e-left {
    flex: 0 0 480px;
    margin-top: 45px;
    overflow: hidden;
    background: url("../images/patita1@2x.png") no-repeat top right;
    background-size: 160px 160px;

    h1 {
      font-family: "Helvetica Neue LT Std hv";
      font-weight: 900;
      text-transform: uppercase;
      font-size: 80px;
      color: #f49a1c;
      line-height: 70px;
      margin-top: 45px;
    }

    h2 {
      font-family: "Helvetica Neue LT Std";
      font-weight: bold;
      font-size: 34px;
      color: #414141;
      line-height: 35px;
    }

    .w7e-logos {
      display: flex;
      margin-top: 53px;

      .w7e-pethome {
        margin-right: 30px;
        img {
          max-width: 178px;
        }
      }
      .w7e-navi img {
        max-width: 158px;
      }
    }
  }

  .w7e-right {
    flex: 1;
    display: flex;
    justify-content: center;

    .w7e-winner {
      position: relative;
      z-index: 1;
      line-height: 46px;
      font-size: 46px;
      border: solid 9px #f49a1c;
      font-family: "Helvetica Neue LT Std";
      text-transform: uppercase;
      text-align: center;
      border-radius: 45px;
      height: 262px;
      width: 565px;
      padding: 53px;

      &:before,
      &:after {
        content: " ";
        position: absolute;
        border: 30px solid;
        width: 0;
        height: 0;
      }

      &:before {
        left: 257px;
        bottom: -69px;
        border-color: #f39a2b transparent transparent;
      }
      &:after {
        content: " ";
        left: 258px;
        bottom: -58px;
        border-color: #dfe4ea transparent transparent;
      }
    }

    .w7e-looking {
      display: flex;
      flex-direction: row;
      align-items: center;

      .w7e-wleft {
        flex: 0 0 154px;
        margin-top: -30px;
        img {
          max-width: 154px;
        }
      }
      .w7e-wright {
      }
    }

    .w7e-car {
      position: absolute;
      bottom: 20px;
      right: 43px;
      z-index: 1;
    }
  }

  footer {
    clip-path: polygon(0 53.99%, 100% 0%, 100% 100%, -1px 101.12%);
    background: $bg__colorpage;
    height: 245px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: -53px;
  }
}
